<!Doctype html>
<html ng-app="esApp" ng-controller="MainController">

<head>
    <title>Elastic Search</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/search.css">
    <link rel="stylesheet" href="/bower_components/bootstrap-fileinput/css/fileinput.min.css">

    <!-- dependencies -->
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>
    <script src="/bower_components/angular-route/angular-route.min.js"></script>
    <script src="/bower_components/socket.io-client/socket.io.js"></script>
    <script src="/bower_components/notifyjs/dist/notify.js"></script>
    <!-- app -->
    <script src="/app.js"></script>
    <script src="/services/ElasticSearchService.js"></script>
    <script src="/controllers/MainController.js"></script>
    <script src="/controllers/SearchController.js"></script>
    <script src="/controllers/UploadController.js"></script>
    <script src="/directives/searchResultDirective.js"></script>
    <script src="/directives/keywordInputDirective.js"></script>
</head>

<body ng-controller="SearchController">
    <div class="row">

        <div class="col-md-offset-3  col-md-6">
            <h1>Elastic Search</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-offset-3 col-md-6" ng-include="'views/uploadTpl.html'"></div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Subscriptions</div>
                <div class="panel-body">
                    <ol>
                        <li ng-repeat="sub in subscription">{{sub}}</li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="col-md-6" ng-include="'views/searchTpl.html'"></div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">Notifications</div>
                <div class="panel-body">
                    <ol>
                        <li ng-repeat="doc in notifications">New document found: '<a ng-href='document/{{doc.fileId}}' target='_blank'>{{doc.filename}}</a>' for search keyword '{{doc.keyword}}' <a href ng-click='removeNotification(doc)'>[close]</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
