<h3>Upload File</h3>
<div class="row" ng-controller="UploadController">
    <div class="col-md-10">
        <div class="input-group" ng-class="{'has-success': uFile.success}">
            <span class="input-group-btn">
            <div class="fileUpload btn btn-info">
                <span>choose</span>
            <input type="file" file-model="uFile" class="upload" />
        </div>
        </span>

        <input type="text" class="form-control topmargin" ng-model="uFile.name" disabled>
    </div>
</div>
<div class="col-md-2">
    <button class="btn btn-info topmargin" ng-click="uploadFile()">upload</button>
</div>
</div>
